#clicked {
  float: left;
}

.innerbit {
  width: 11px;
  height: 11px;
  border: 1px solid lightgrey;
  margin: .5px;
  float: left;
}

.collum {
  width: 14px;
  height: 140px;
  float: left;
  margin: 0px;
  padding: 0px;
  background-color: grey;
}

#main {
  margin: auto;
  width: 140px;
}

.pressed1 {
  background-color: red;
}

.pressed2 {
  background-color: yellow;
}

.pressed3 {
  background-color: blue;
}